<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="swarm_gazebo">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.85178704381779 -9.60012713785555 1.77710582206913"
        rpy="0 0 0" />
      <mass
        value="75086.6056000002" />
      <inertia
        ixx="3486735.77580997"
        ixy="-552845.119456796"
        ixz="-12.1878548712947"
        iyy="1963369.98309333"
        iyz="29.7403510295286"
        izz="5290843.83198998" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swarm_gazebo/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swarm_gazebo/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>